# rename this file to config.txt, fill in the info below
user = username
key  = api-key
xml  = xml directory
weight = default package weight
height = default package height
width = default package width
length = default package length
